@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 0.9rem;
}

button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  text-align: start;
  border-radius: 1em;
  overflow: hidden;
}

/* LOADER */
.loader {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

/* LOADER 1 */
#loader-1:before,
#loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #9356dc;
}

#loader-1:before {
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after {
  border: 10px solid #ff79da;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bg-loader {
  width: 100%;
  height: 100vh;
  background-color: #f6f6f6;
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shutdown {
  animation: shutdown 0s ease-in 1.5s forwards;
}

@keyframes shutdown {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
.header {
  display: flex;
  flex-direction: column;
}
.header__top {
  display: flex;
  align-items: center;
}
.header__arrow {
  color: black;
  font-size: 25px;
  flex: 1;
  padding-left: 1em;
}
.header__logo {
  padding: 1em 0;
  align-self: center;
  flex: 4;
}
.header__searchbar {
  width: 100%;
}
.header__searchbar > input {
  width: 100%;
  height: 50px;
  padding-left: 5%;
  border: 0;
  display: block;
  background-color: #eaeaea;
}
.header__searchbar > input::placeholder {
  color: #353535;
  word-spacing: normal;
  padding-left: 30%;
}
.header__card {
  width: 100%;
  height: 40vh;
}
.header__card-img {
  background-position: bottom;
  background-size: cover;
  height: 100%;
}
.header__info {
  color: black;
  background-color: #f6f6f6;
  font-family: Shrikhand;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em 0.5em 1em;
  border-radius: 2em 2em 0 0;
  transform: translateY(-2.5em);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  background-color: #f6f6f6;
  width: 100%;
}
.content__heading {
  text-align: center;
  padding-bottom: 0.5em;
  font-size: 25px;
}
.content__sentence {
  text-align: center;
  padding-bottom: 2em;
}
.content__btn {
  border: none;
  cursor: pointer;
  border-radius: 2em;
  outline: none;
  color: white;
  position: relative;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  transition: box-shadow 0.3s;
  background: linear-gradient(-10deg, #9356dc, #ff79da);
  padding: 1em;
}
.content__btn:hover {
  box-shadow: 1px 2px 13px 2px rgba(0, 0, 0, 0.4);
}
.content__btn:hover::after {
  opacity: 1;
}
.content__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 2em;
  transition: opacity 250ms;
  background: linear-gradient(-10deg, #a16be0, #ff93e1);
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 1.3em 1.2em;
}
.footer > a {
  color: white;
}
.footer__logo {
  font-family: Shrikhand;
  color: white;
  padding-bottom: 1.2em;
}
.footer__item {
  padding-bottom: 0.6em;
}

.alticon {
  font-size: 11px;
}

.cardmap {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 10% 5%;
}
.cardmap__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  padding: 5% 0;
}
.cardmap__item {
  row-gap: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardmap__item-info {
  padding: 5% 10% 5% 5%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.cardmap__image {
  height: 25vh;
  background-position: bottom;
  background-size: cover;
}

/* select img */
.card1 {
  background-image: url(../../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.card2 {
  background-image: url(../../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: left 0% bottom 37%;
}

.card3 {
  background-image: url(../../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.card4 {
  background-image: url(../../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.card-info {
  line-height: 1.5;
}

.icon {
  font-size: 25px;
}
.icon:hover::before {
  color: #9356dc;
  font-weight: 900;
  cursor: pointer;
}

.tag {
  background-color: #99e2d0;
  color: #299077;
  width: 75px;
  padding: 0.5em;
  border-radius: 0.3em;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 1em;
  left: 72%;
}

.explain {
  display: flex;
  flex-direction: column;
  padding: 10% 5%;
}
.explain__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  padding-left: 0.45em;
}
.explain__item {
  width: 100%;
  padding: 1em 0;
  background-color: #f6f6f6;
  border-radius: 0.8em;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
}
.explain__item:nth-child(1) {
  margin-top: 2em;
}
.explain__item:nth-child(3) {
  background-color: #f2eafb;
}
.explain__line {
  display: flex;
  align-items: center;
  transform: translateX(-5%);
}
.explain__line > p {
  font-weight: bold;
}
.explain__line > i {
  text-align: center;
  width: 60px;
  color: #7e7e7e;
}
.explain__line .primary {
  color: #9356dc;
}

.number {
  background-color: #9356dc;
  color: white;
  border-radius: 2em;
  height: 23px;
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number > p {
  font-size: 0.8em;
}

.main {
  padding: 5%;
  background-color: #f6f6f6;
}

.food__section {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin-bottom: 2em;
}
.food__section > h2 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 3px solid #99e2d0;
  width: 2em;
  padding-bottom: 0.2em;
}
.food__container {
  display: flex;
  width: 100%;
  box-shadow: 2px 6px 10px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background-color: white;
}
.food__container:hover > .food__check {
  width: 20vw;
}
.food__container:hover > .food__check > i {
  animation: rotation 500ms linear;
  width: auto;
}
.food__check {
  background-color: #99e2d0;
  width: 0;
  transition: width 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.food__check > i {
  color: white;
  font-size: 25px;
  width: 0;
  padding: 21px 0;
}
.food__item {
  display: flex;
  flex-flow: row wrap;
  padding: 0.8em 1.5em 0.5em 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.food__title {
  font-weight: bold;
  font-size: 16px;
  flex: 0 1 100%;
  line-height: 2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.food__content {
  font-size: 13px;
  flex: 1 0 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.food__price {
  font-weight: bold;
  color: #353535;
}
.food__btn {
  border: none;
  cursor: pointer;
  border-radius: 2em;
  outline: none;
  color: white;
  position: relative;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  transition: box-shadow 0.3s;
  background: linear-gradient(-10deg, #9356dc, #ff79da);
  padding: 1em 3em;
  font-size: 15px;
}
.food__btn:hover {
  box-shadow: 1px 2px 13px 2px rgba(0, 0, 0, 0.4);
}
.food__btn:hover::after {
  opacity: 1;
}
.food__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 2em;
  transition: opacity 250ms;
  background: linear-gradient(-10deg, #a16be0, #ff93e1);
}
.food__order {
  display: flex;
  justify-content: center;
  margin: 2.5em 0;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(3em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.time1 {
  animation: fade 500ms 200ms backwards ease-in-out;
}
.time2 {
  animation: fade 500ms 400ms backwards ease-in-out;
}
.time3 {
  animation: fade 500ms 600ms backwards ease-in-out;
}
.time4 {
  animation: fade 500ms 800ms backwards ease-in-out;
}
.time5 {
  animation: fade 500ms 1000ms backwards ease-in-out;
}
.time6 {
  animation: fade 500ms 1200ms backwards ease-in-out;
}
.time7 {
  animation: fade 500ms 1400ms backwards ease-in-out;
}
.time8 {
  animation: fade 500ms 1600ms backwards ease-in-out;
}
.time9 {
  animation: fade 500ms 1800ms backwards ease-in-out;
}
.time10 {
  animation: fade 500ms 2000ms backwards ease-in-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .header__searchbar > input::placeholder {
    padding-left: 37%;
    font-size: 18px;
  }
  .header__info {
    padding-left: 2em;
    padding-right: 2.5em;
    font-size: 25px;
    align-items: center;
  }

  .content {
    padding: 5%;
  }
  .content__heading {
    font-size: 30px;
  }
  .content__sentence {
    font-size: 16px;
  }
  .content__btn {
    font-size: 18px;
  }

  .explain {
    padding: 5%;
  }
  .explain__line {
    font-size: 25px;
  }
  .explain__line > i {
    width: 100px;
  }
  .explain__line > p {
    font-size: 20px;
  }
  .explain__item {
    padding: 1.5em 0;
  }

  .number {
    width: 30px;
    height: 30px;
  }

  .cardmap {
    padding: 5%;
  }
  .cardmap__item-info {
    padding: 2% 4%;
  }

  .card-info {
    line-height: 2;
  }
  .card-info > h3 {
    font-size: 20px;
  }
  .card-info > p {
    font-size: 18px;
  }

  .tag {
    left: 82%;
    font-size: 20px;
    width: 100px;
  }

  .food__btn {
    font-size: 18px;
  }

  .footer {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .footer__logo {
    font-size: 25px;
    flex: 0 1 100%;
    text-align: center;
  }
  .footer__item {
    column-gap: 50px;
  }

  .icon {
    font-size: 35px;
  }
}
/* Desktop devices (1224px and up) */
@media screen and (min-width: 1224px) {
  .header__searchbar > input::placeholder {
    padding-left: 41%;
  }
  .header__arrow {
    flex: 3;
  }
  .header__card {
    height: 25vh;
  }
  .header__card-img {
    background-position: center;
  }
  .header__info {
    padding: 0.5em 3em;
    width: 33%;
    transform: translateY(-2em);
    font-size: 20px;
  }

  .main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2em;
  }

  .food__container:hover > .food__check {
    width: 8vw;
  }
  .food__section {
    width: 32%;
    row-gap: 1.5em;
    margin: 2em 0;
  }
  .food__content {
    font-size: 14px;
  }
  .food__order {
    margin: 1.5em 0;
  }

  .content {
    padding: 2%;
  }
  .content__btn {
    font-size: 16px;
  }

  .explain {
    padding: 2% 5%;
  }
  .explain__heading {
    margin-bottom: 0.8em;
  }
  .explain__content {
    flex-direction: row;
    align-items: center;
    column-gap: 2em;
  }
  .explain__item {
    padding: 1em 0;
  }
  .explain__item:nth-child(1) {
    margin-top: 0;
  }
  .explain__line {
    font-size: 22px;
  }
  .explain__line > i {
    width: 90px;
  }
  .explain__line > p {
    font-size: 17px;
  }

  .cardmap {
    padding: 2em 5%;
  }
  .cardmap__content {
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1em 0;
  }
  .cardmap__item {
    width: 23%;
  }
  .cardmap__item-info {
    padding: 3% 6%;
  }
  .cardmap__image {
    height: 20vh;
  }

  .tag {
    left: 75%;
    font-size: 12px;
    width: 57px;
    padding: 0.3em;
  }

  .card-info {
    line-height: 1.6;
  }
  .card-info > h3 {
    font-size: 15px;
  }
  .card-info > p {
    font-size: 14px;
  }

  .icon {
    font-size: 24px;
  }

  .footer {
    padding: 1.2em 8em;
  }
}

/*# sourceMappingURL=style.css.map */
