.cardmap {
  display: flex;
  flex-direction: column;
  background-color: $color-bg;
  padding: 10% 5%;
  @media screen and (min-width: 768px) {
    padding: 5%;
  }
  @media screen and (min-width: 1224px) {
    padding: 2em 5%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    padding: 5% 0;
    @media screen and (min-width: 1224px) {
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 1em 0;
    }
  }
  &__item {
    row-gap: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @media screen and (min-width: 1224px) {
      width: 23%;
    }
    &-info {
      padding: 5% 10% 5% 5%;
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      @media screen and (min-width: 768px) {
        padding: 2% 4%;
      }
      @media screen and (min-width: 1224px) {
        padding: 3% 6%;
      }
    }
  }
  &__image {
    height: 25vh;
    background-position: bottom;
    background-size: cover;
    @media screen and (min-width: 1224px) {
      height: 20vh;
    }
  }
}
/* select img */
.card1 {
  background-image: url(../../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.card2 {
  background-image: url(../../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: left 0% bottom 37%;
}

.card3 {
  background-image: url(../../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.card4 {
  background-image: url(../../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.card-info {
  line-height: 1.5;
  @media screen and (min-width: 768px) {
    line-height: 2;
    & > h3 {
      font-size: 20px;
    }
    & > p {
      font-size: 18px;
    }
  }
  @media screen and (min-width: 1224px) {
    line-height: 1.6;
    & > h3 {
      font-size: 15px;
    }
    & > p {
      font-size: 14px;
    }
  }
}

.icon {
  font-size: 25px;
  @media screen and (min-width: 768px) {
    font-size: 35px;
  }
  @media screen and (min-width: 1224px) {
    font-size: 24px;
  }
  &:hover::before {
    color: $colour-primary;
    font-weight: 900;
    cursor: pointer;
  }
}

.tag {
  background-color: $colour-tercary;
  color: darken($colour-tercary, 38%);
  width: 75px;
  padding: 0.5em;
  border-radius: 0.3em;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 1em;
  left: 72%;
  @media screen and (min-width: 768px) {
    left: 82%;
    font-size: 20px;
    width: 100px;
  }
  @media screen and (min-width: 1224px) {
    left: 75%;
    font-size: 12px;
    width: 57px;
    padding: 0.3em;
  }
}

.explain {
  display: flex;
  flex-direction: column;
  padding: 10% 5%;
  @media screen and (min-width: 768px) {
    padding: 5%;
  }
  @media screen and (min-width: 1224px) {
    padding: 2% 5%;
  }
  &__heading {
    @media screen and (min-width: 1224px) {
      margin-bottom: 0.8em;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    padding-left: 0.45em;
    @media screen and (min-width: 1224px) {
      flex-direction: row;
      align-items: center;
      column-gap: 2em;
    }
  }
  &__item {
    width: 100%;
    padding: 1em 0;
    background-color: $color-bg;
    border-radius: 0.8em;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    @media screen and (min-width: 768px) {
      padding: 1.5em 0;
    }
    @media screen and (min-width: 1224px) {
      padding: 1em 0;
    }
    &:nth-child(1) {
      margin-top: 2em;
      @media screen and (min-width: 1224px) {
        margin-top: 0;
      }
    }
    &:nth-child(3) {
      background-color: lighten($colour-primary, 35%);
    }
  }
  &__line {
    display: flex;
    align-items: center;
    transform: translateX(-5%);
    @media screen and (min-width: 768px) {
      font-size: 25px;
    }
    @media screen and (min-width: 1224px) {
      font-size: 22px;
    }
    & > p {
      font-weight: bold;
      @media screen and (min-width: 768px) {
        font-size: 20px;
      }
      @media screen and (min-width: 1224px) {
        font-size: 17px;
      }
    }
    & > i {
      text-align: center;
      width: 60px;
      color: $color-icon;
      @media screen and (min-width: 768px) {
        width: 100px;
      }
      @media screen and (min-width: 1224px) {
        width: 90px;
      }
    }
    & .primary {
      color: $colour-primary;
    }
  }
}

.number {
  background-color: $colour-primary;
  color: white;
  border-radius: 2em;
  height: 23px;
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  & > p {
    font-size: 0.8em;
  }
  @media screen and (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
}
