/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    &__searchbar {
      & > input::placeholder {
        padding-left: 37%;
        font-size: 18px;
      }
    }
    &__info {
      padding-left: 2em;
      padding-right: 2.5em;
      font-size: 25px;
      align-items: center;
    }
  }
  .content {
    padding: 5%;
    &__heading {
      font-size: 30px;
    }
    &__sentence {
      font-size: 16px;
    }
    &__btn {
      font-size: 18px;
    }
  }
  .explain {
    padding: 5%;
    &__line {
      font-size: 25px;
      & > i {
        width: 100px;
      }
      & > p {
        font-size: 20px;
      }
    }
    &__item {
      padding: 1.5em 0;
    }
  }
  .number {
    width: 30px;
    height: 30px;
  }
  .cardmap {
    padding: 5%;
    &__item-info {
      padding: 2% 4%;
    }
  }
  .card-info {
    line-height: 2;
    & > h3 {
      font-size: 20px;
    }
    & > p {
      font-size: 18px;
    }
  }
  .tag {
    left: 82%;
    font-size: 20px;
    width: 100px;
  }
  .food__btn {
    font-size: 18px;
  }
  .footer {
    flex-flow: row wrap;
    justify-content: space-around;
    &__logo {
      font-size: 25px;
      flex: 0 1 100%;
      text-align: center;
    }
    &__item {
      column-gap: 50px;
    }
  }
  .icon {
    font-size: 35px;
  }
}

/* Desktop devices (1224px and up) */
@media only screen and (min-width: 1224px) {
  .header {
    &__arrow {
      flex: 3;
    }
    &__card {
      height: 20vh;
      &-img {
        background-position: center;
      }
    }
    &__info {
      padding: 0.5em 1.5em;
      width: 33%;
      transform: translateY(-2em);
      font-size: 20px;
    }
  }
  .main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2em;
  }
  .food {
    &__container {
      &:hover {
        & > .food__check {
          width: 8vw;
        }
      }
    }
    &__section {
      width: 32%;
    }
    &__item {
      padding: 0.5em 1.5em;
    }
    &__title {
      font-size: 13px;
    }
    &__content {
      font-size: 12px;
    }
    &__order {
      margin: 0.5em 0;
    }
    &__btn {
      font-size: 14px;
    }
  }
  .content {
    padding: 2%;
    &__heading {
      font-size: 20px;
    }
    &__sentence {
      font-size: 14px;
    }
    &__btn {
      font-size: 12px;
    }
  }
  .explain {
    padding: 2% 5%;
    &__heading {
      margin-bottom: 0.8em;
      font-size: 16px;
    }
    &__content {
      flex-direction: row;
      align-items: center;
      column-gap: 2em;
    }
    &__item {
      padding: 0.5em 0;
    }
    &__item:nth-child(1) {
      margin-top: 0;
    }
    &__line {
      font-size: 18px;
      & > i {
        width: 60px;
      }
      & > p {
        font-size: 16px;
      }
    }
  }
  .cardmap {
    padding: 2em 5%;
    &__heading {
      font-size: 16px;
    }
    &__content {
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 1em 0;
    }
    &__item {
      width: 23%;
      &-info {
        padding: 3% 6%;
      }
    }
    &__image {
      height: 20vh;
    }
  }

  .tag {
    left: 75%;
    font-size: 12px;
    width: 55px;
    padding: 0.3em;
  }
  .card-info {
    line-height: 1.5;
    & > h3 {
      font-size: 14px;
    }
    & > p {
      font-size: 12px;
    }
  }
  .icon {
    font-size: 20px;
  }
}
